@charset "UTF-8";
/*
foundation/_variables
*/
@font-face {
  font-family: "Noto Sans JP", sans-serif;
  src: url("/font/Noto_Sans_JP/NotoSansJP-Bold.otf") format("opentype");
  src: url("/font/Noto_Sans_JP/NotoSansJP-Regular.otf") format("opentype");
}
/*
foundation/_mixin
*/
/*ブレイクポイント*/
/* font-size rem */
/*
object/project/_privacy
*/
.p-privacy {
  margin-top: 24px;
  background-color: #fce6cc;
}
@media screen and (min-width: 1025px) {
  .p-privacy {
    margin-top: 56px;
  }
}
.p-privacy .l-section_inner {
  max-width: 1080px;
}
.p-privacy_section {
  margin-top: 40px;
}
.p-privacy_section_title {
  padding: 16px 0 16px 16px;
  width: 100%;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  border-bottom: 1px solid #f5a20a;
  position: relative;
}
.p-privacy_section_title::before {
  content: "";
  width: 4px;
  height: 40px;
  background-color: #f08300;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.p-privacy_section .c-text {
  margin-top: 16px;
}
.p-privacy_block {
  padding: 16px 0;
  border-bottom: 1px solid #f5c90a;
}
.p-privacy_block_title {
  color: #f08300;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
}
.p-privacy_block_inner {
  padding: 16px 0;
  border-bottom: 1px solid #f5c90a;
}
.p-privacy_block_inner:last-child {
  border: none;
}
.p-privacy_block_list {
  margin-top: 16px;
}
.p-privacy_block_item {
  padding-left: 16px;
  position: relative;
}
.p-privacy_block_item::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #f08300;
  position: absolute;
  top: 12px;
  left: 0;
}
.p-privacy_inner_title {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
}
.p-privacy_caption {
  padding: 16px;
  margin-top: 16px;
  background-color: #fff;
}
.p-privacy_date {
  margin-top: 16px;
  text-align: right;
}
